# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# R
.Rhistory
.RData
.Rproj.user

# Output directories
plots/
results/

# OS
.DS_Store
Thumbs.db
